[submodule "themes/ficurinia"]
	path = themes/ficurinia
	url = https://gitlab.com/gabmus/hugo-ficurinia.git
[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = https://github.com/queensferryme/hugo-theme-texify.git
[submodule "themes/hugo-theme-flat"]
	path = themes/hugo-theme-flat
	url = https://github.com/leafee98/hugo-theme-flat.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
